body {
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.nav {
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.placeholder-image {
    background-color: rgb(100, 110, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    flex-grow: 2;
    color: rgb(190, 188, 188);
    flex: 1;
}

.hero-align {
    display: flex;
    padding: 115px 100px;
    gap: 80px;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;

}

.hero-align .text {
    color: rgb(140, 150, 156);
    font-size: 18px;
}
.header .signup {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border-style: none;
}



a {
    text-decoration: none;
    color:rgb(140, 150, 156);
    display: flex;
}

.title {
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    padding-right: 12px;
}

.heading {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.heading2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color:#1F2937;
    font-weight: 700;
    padding: 48px
}
.body1 {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.body2 {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    gap: 70px;
}
.card {
    font-size: 18px;
    color: rgb(140, 150, 156);
    padding: 8px;
    width: 125px;
    text-align: center;
    flex-shrink: 0;
}
.box {
    padding: 10px;
    border: solid 3px;
    border-color:#3882F6;
    border-radius: 25px;
    background-color: white;
    height: 150px;
    width: 150px;
    margin-bottom: 4px;
    text-align: center;
    color: rgb(140, 150, 156);
    flex-shrink: 0;
}
.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
    padding: 100px
}
.quote .person {
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
}

.action {
    background-color: white;
    color:#F9FAF8;
    padding: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 {
    background-color: #3882F6;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    gap: 150px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
.action .heading3 {
    font-weight: 900;
    font-size: 24px
}

.action .text {
    color:#E5E7EB;
    min-width: 500px
}
.action button {
    background-color: #3882F6;
    border: solid white;
    color:#F9FAF8;
    border-radius: 5px;
    padding: 7px 25px;
    min-width: 110px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: auto;
}

